nav {
    background: rgba(0,0,0,0.3);
    display: flex;
    width: 3rem;
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    border-color: aliceblue;
    overflow: hidden;
}

nav a {
    background: transparent;
    padding: 0.9rem;
    margin: .2rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-primary);
    color: var(--color-white);
}

nav::before {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

nav::after {
    content: "";
    width: 1px;
    height: 100vh;
    background: var(--color-primary);
}

/* ==== MEDIA QUERIES ==== */
@media screen and (max-width: 600px) {

    nav {
        width: 2rem;
    }
    nav a {
        font-size: .8rem;
    }
    
}